{% extends "member/base.html" %}
{% load profile %}

{% block title %}
    Liste des membres
{% endblock %}

{% block headline %}
    Membres
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Sur cette page vous pourrez trouver la liste des membres inscrits
            au site (actuellement {{ members_count }} membres). Les membres les
            plus récents sont listés en premier.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <ul class="large-block-grid-10 small-block-grid-4">
            {% for member in members %}
                <li style="text-align: center;">
                    {% include "member/member_item_common_big.part.html" %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include "misc/pagination.part.html" %}

{% endblock %}
