{% extends "member/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Réinitialisation de mot de passe
{% endblock %}

{% block headline %}
    Réinitialisation de mot de passe
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Réinitialisation</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Pour réinitialiser votre mot de passe, merci de compléter le
            formulaire suivant.
        </p>
        <p>
            Un email contenant un lien vous sera envoyé, vous n’aurez plus qu’à
            cliquer sur celui-ci pour obtenir un nouveau mot de passe
            temporaire que vous pourrez changer par la suite.
        </p>

        {% if error %}
            <div class="alert-box warning">
                <strong>Erreur !</strong> {{ error }}
            </div>
        {% endif %}

        {% crispy form %}
    </div>
</div>

{% endblock %}
