{% extends "member/base.html" %}

{% block title %}
    Réinitialisation de mot de passe
{% endblock %}

{% block headline %}
    Réinitialisation de mot de passe
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Réinitialisation</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Un email contenant un lien vous a été envoyé, vous n’avez plus
            qu’à cliquer sur celui-ci pour obtenir un nouveau mot de passe
            temporaire que vous pourrez changer par la suite.
        </p>
    </div>
</div>

{% endblock %}
