{% extends "member/base.html" %}
{% load emarkdown %}
{% load markup %}
{% load humane_date %}
{% load email_obfuscator %}

{% block title %}
    {{ usr.username }}
{% endblock %}

{% block headline %}
    {{ usr.username }}
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ usr.username }}</a></li>
{% endblock %}

{% block headline-actions %}
    {% ifequal profile.user user %}
        <a href="/membres/editer?profil={{ profile.pk }}" class="button">
            Éditer mon profil
        </a>
    {% endifequal %}
{% endblock %}

{% block content %}
    
<div class="row">
    <div class="large-2 columns">
        <img src="{{ profile.get_gravatar_url }}&amp;s=140" alt="Avatar" width="140" height="140" class="th"/>
    </div>
    <div class="large-10 columns">
        <p>
            {% if profile.show_email and user.is_authenticated %}
                Adresse mail : {{ usr.email|obfuscate_mailto }}<br />
            {% endif %}
        
            {% if profile.site %}
                Site internet : <a href="{{ profile.site }}">{{ profile.site }}</a><br />
            {% endif %}
        
            Inscrit {{ usr.date_joined|humane_date }},
            dernière connexion {{ usr.last_login|humane_date }}
        </p>
    </div>
</div>

<div class="row">
    <div class="large-4 columns">
        <h3>Articles</h3>
        <div id="articles-graph" style="width:100%; height:200px;"></div>
    </div>
    <div class="large-4 columns">
        <h3>Tutoriels</h3>
        <div id="tutorials-graph" style="width:100%; height:200px;"></div>
    </div>
    <div class="large-4 columns">
        <h3>Forums</h3>
        <div id="forums-graph" style="width:100%; height:200px;"></div>
    </div>
</div>

{# Biography #}

{% if profile.biography %}
    
<div class="row">
    <div class="large-12 columns">
        <h2>Biographie</h2>
        {{ profile.biography|emarkdown }}
    </div>
</div>

{% endif %}

{% endblock %}

{% block additionnal-js %}
<script>
    $(function () { 
        $('#articles-graph').highcharts({
            chart: {
                type: 'column'
            },
            credits : {
                enabled: false
            },
            title: {
                text: null
            },
            xAxis: {
                categories: ['En cours de rédaction', 'En ligne']
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            series: [{
                name: 'Articles',
                data: [{{ profile.get_hidden_articles.count }}, {{ profile.get_visible_articles.count }}],
                showInLegend: false
            }]
        });
        $('#tutorials-graph').highcharts({
            chart: {
                type: 'column'
            },
            credits : {
                enabled: false
            },
            title: {
                text: null
            },
            xAxis: {
                categories: ['En cours de rédaction', 'En ligne']
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            series: [{
                name: 'Tutoriels',
                data: [{{ profile.get_hidden_tutorials.count }}, {{ profile.get_visible_tutorials.count }}],
                showInLegend: false
            }]
        });
        $('#forums-graph').highcharts({
            chart: {
                type: 'column'
            },
            credits : {
                enabled: false
            },
            title: {
                text: null
            },
            xAxis: {
                categories: ['Sujets', 'Messages']
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            series: [{
                name: 'Éléments',
                data: [{{ profile.get_topic_count }}, {{ profile.get_post_count }}],
                showInLegend: false
            }]
        });
    });
</script>
{% endblock %}
