{% extends "member/base.html" %}

{% block title %}
    Confirmation d’inscription
{% endblock %}

{% block headline %}
    Confirmation d’inscription
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Inscription</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Nous avons bien reçu votre demande d'inscription à Progdupeupl.
        </p>
        <p>
            Nous venons de vous envoyer un mail contenant un lien de
            confirmation. Merci de cliquer sur ce lien afin de finaliser votre
            inscription !
        </p>
    </div>
</div>

{% endblock %}
