.gitignore
.git/
pdp/settings_prod.py

*.pyc
*.db

assets/.sass-cache
assets/css/*

*~
*.swp
*.old
*.bak
*.directory

fabfile_local.py
media/
static/
venv/
pdp/whoosh/

doc/_build

*.pyproj
*.sln
*.suo
*.komodoproject

.coverage
htmlcov/
