/*
 *  File _colors.scss
 *  Set the 5 main colors of the website from the EtroWallpaper6 kuler color set.
 *
 */

$color1: rgb(17, 46, 80);
$color2: rgb(75, 96, 133);
$color3: rgb(116, 147, 182);
$color4: rgb(249, 236, 204);
$color5: rgb(247, 247, 251);

$green: rgb(58, 127, 52);
$yellow: rgb(145, 138, 25);
$turquoise: rgb(38, 166, 142);
