/*
 *  File _colors.scss
 *  Set the 5 main colors of the website from the EtroWallpaper6 kuler color set.
 *
 */

$color1: #1c2f40;
$color2: #4c6173;
$color3: #8094a6;
$color4: #d9d1ba;
$color5: #f2e9d8;