/*
 *  File _common.scss
 *  Common file containing rules for all apps
 *
 */

.article-items, .tutorial-items, .topic-items, .forum-items, .topics-items {
    margin-bottom: 2em;

    .article-item, .tutorial-item, .topic-item, .forum-item, .topic-item {
        background: $color5;
        border-left: solid 5px $color2;

        margin: 10px 20px 10px 20px;
        padding: 3px 0 3px 15px;

        h3 {
            margin: 0;
            color: $color5 !important;
            display: inline-block;
        }

        p {
            margin-top: 3px;
            margin-bottom: 0px;
        }

        p.inline-description {
            display: inline-block;
            margin: 0;
        }

        &:hover {
            border-color: $color1;
        }
    }
}


.feed-links {
    float: right;
    background: url(../img/rss.png) no-repeat 0 60%;

    margin-top: 12px;
    padding-left: 22px;

    a {
        &:after {
            content: " |";
        }

        &:last-child:after {
            content: "";
        }
    }
}

.member-item {
    margin-right: 2px;
    margin-left: 2px;
    img {
        vertical-align: middle;
    }
}

.pager {
    /* Each pager entry should only be on one line */
    height: 1em;

    padding-top: 1em;
    padding-bottom: 1em;

    .prev {
        float: left;
        &:before {
            content: "← ";
        }
    }

    .next {
        float: right;
        &:after {
            content: " →";
        }
    }
}

.pagination {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

    a {
        padding: 3px;
        padding-left: 7px;
        margin: 0;

        font-family: 'Merriweather Sans', sans-serif;
        font-weight: normal;

        border-right: none;
    }

    .disabled {
        opacity: 0.5;
    }

    .active {
        color: white;
        background: $color1;
        font-weight: 700;
    }
}

.post {
    margin: 0;
    padding-bottom: 3em;

    &:nth-child(odd) {
        background-color: $color5;
    }

    .post-header {
        background: $color2;
        color: $color4;

        font-size: 12px;

        margin: 0;
        padding: 5px;

        a {
            color: $color5;
        }

        .button { color: initial; }

        .button-edit {
            @include button-icon("edit.png");
        }

        .button-quote {
            @include button-icon("quote.png");
        }
    }

    .post-buttons {
        display: inline-block;
        float: right;

        a:last-child {
            margin-right: 0;
        }
    }

    .post-message {
        padding: 10px;
        margin: 0;
    }
}

.post-repeated {
    opacity: 0.6;
}

.topic-actions {
    margin-top: 30px;
    margin-bottom: 30px;

    /* Buttons */
    /* Colors for these buttons are darken versions of the mean color from their own icons */

    $button-follow-color: darken(rgb(242, 218, 145), 40%);
    .button-follow {
        @include button-colored($button-follow-color);
        @include button-icon("follow.png");
    }
    .button-follow-active {
        @include button-colored-active($button-follow-color);
    }

    $button-solved-color: darken(rgb(196, 222, 193), 50%);
    .button-solved {
        @include button-colored($button-solved-color);
        @include button-icon("solved.png");
    }
    .button-solved-active {
        @include button-colored-active($button-solved-color);
    }

    $button-lock-color: darken(rgb(221, 200, 155), 50%);
    .button-lock {
        @include button-colored($button-lock-color);
        @include button-icon("lock.png");
    }
    .button-lock-active {
        @include button-colored-active($button-lock-color);
    }

    $button-sticky-color: darken(rgb(249, 228, 187), 50%);
    .button-sticky {
        @include button-colored($button-sticky-color);
        @include button-icon("sticky.png");
    }
    .button-sticky-active {
        @include button-colored-active($button-sticky-color);
    }
}
