/*
 *  File _common.scss
 *  Common file containing rules for all apps
 *
 */

.article-items, .tutorial-items, .topic-items {
    margin-bottom: 2em;

    .article-item, .tutorial-item, .topic-item {
        background: $color5;
        border-left: solid 5px $color2;

        margin: 10px 20px 10px 20px;
        padding: 3px 0 3px 15px;

        h3 {
            margin: 0;
            color: $color5 !important;
        }

        p {
            margin-top: 3px;
            margin-bottom: 0px;
        }

        &:hover {
            border-color: $color1;
        }
    }
}


.feed-links {
    float: right;
    background: url(../img/rss.png) no-repeat 0 60%;

    margin-top: 12px;
    padding-left: 22px;

    a {
        &:after {
            content: " |";
        }

        &:last-child:after {
            content: "";
        }
    }
}

.member-item {
    margin-right: 2px;
    margin-left: 2px;
    img {
        vertical-align: middle;
    }
}

.pager {
    /* Each pager entry should only be on one line */
    height: 1em;

    padding-top: 1em;
    padding-bottom: 1em;

    .prev {
        float: left;
        &:before {
            content: "← ";
        }
    }

    .next {
        float: right;
        &:after {
            content: " →";
        }
    }
}
