{% extends "pages/base.html" %}

{% block title %}
    À propos
{% endblock %}

{% block headline %}
    À propos
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">À propos</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-8 columns">
        <h3>Remerciements</h3>
        <p>
            L’équipe de Progdupeupl tient à remercier <strong>l’ensemble des
            auteurs</strong> sans qui ce site ne serait qu’une coquille vide.
            Nous pensons également <strong>aux membres qui donnent vie aux
            forums</strong> tout le long de l’année.
        </p>
        <p>
            Nous remercions également <strong>Saucisson</strong> qui nous
            héberge à ses frais depuis maintenant plus d’un an, tout en nous
            offrant une configuration matérielle adaptée aux besoins
            grandissants du site.
        </p>
        <p>
            N’oublions pas l’équipe technique − et notamment <strong>tous les
            contributeurs au code source</strong> − ainsi que <strong>toutes
            les personnes qui jouent leur rôle de conseil</strong> pour faire
            en sorte que Progdupeupl suive toujours le bon cap.
        </p>
        <p>
            Enfin, merci à <strong>MicroJoe</strong> qui est à l’origine de ce
            projet et qui le maintient toujours activement, que ce soit au
            niveau des sources ou en tant que (sys)admin.
        </p>
    </div>
    <div class="large-4 columns">
        <h3>Crédits</h3>
        <p>
            Certaines icônes sont basées sur le pack d'icônes
            <a href="http://glyphicons.com/">Glyphicons</a> mis à disposition
            sous licence CC-BY.
        </p>
        <p>
            <a href="http://microjoe.deviantart.com/art/Progdupeupl-s-logo-403348624">Le logo de Progdupeupl</a>
            est de MicroJoe et est disponible sous licence CC-BY-NC-SA.
        </p>
        <p>
            Les <a href="{% url "pdp.pages.views.tos" %}">conditions générales d’utilisation</a>
            sont une adaptation des CGU de <a href="http://zestedesavoir.com">ZesteDeSavoir</a>
            mises à disposition sous licence CC-BY-SA.
        </p>
    </div>
</div>

{% endblock %}
