{% extends "pages/base.html" %}

{% block title %}
Aide-mémoire Markdown
{% endblock %}

{% block headline %}
Aide-mémoire Markdown
{% endblock %}

{% block breadcrumb %}
Aide-mémoire Markdown
{% endblock %}

{% block content %}

<p>
    Voici un petit aide-mémoire permettant de vous souvenir des différents
    éléments disponibles à l'aide de la syntaxe Markdown utilisée (massivement)
    sur ce site.
</p>
<div class="spacer3"></div>
{% include "pages/help_markdown_part.html" %}

{% endblock %}
