<h2>
    Mise en forme de base
</h2>

<h3>
    Titres, paragraphes et sauts de ligne
</h3>

<p>
    Les titres sont définis par le caractère <code>#</code>.
</p>
<p>
    Les paragraphes sont séparés par une (ou plusieurs) lignes vides. S'il n'y a pas de ligne vide (donc un simple retour à la ligne), le texte ne marquera pas ce retour à la ligne. Pour insérer un retour à la ligne sans faire de nouveau paragraphe, il suffit de terminer la ligne qui précède avec deux espaces.
</p>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Titre 1</td>
            <td><code>## texte</code></td>
            <td><h2>texte</h2></td>
        </tr><tr>
            <td>Titre 2</td>
            <td><code>### texte</code></td>
            <td><h3>texte</h3></td>
        </tr><tr>
            <td>Deux paragraphes distincts</td>
            <td>
<pre>Ligne 1.
Ligne 2.

Ligne 3.</pre>
            </td><td>
                <p>Ligne 1. Ligne 2.</p>
                <p>Ligne 3.</p>
            </td>
        </tr><tr>
            <td>Deux paragraphes collés</td>
            <td>
<pre>Ligne 1.␣␣
Ligne 2.</pre>
            </td><td>
                <p>Ligne 1.<br />
                Ligne 2.</p>
            </td>
        </tr>
    </tbody>
</table>

<h3>
    Blocs de mise en forme
</h3>

<p>
    Voici les différentes options de mise en forme proposées par Markdown et
    disponibles sur le site.
</p>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Italique</td>
            <td><code>*texte*</code> ou <code>_texte_</code></td>
            <td><i>texte</i></td>
        </tr><tr>
            <td>Gras</td>
            <td><code>**texte**</code> ou <code>__texte__</code></td>
            <td><b>texte</b></td>
        </tr><tr>
            <td>Barré</td>
            <td><code>du texte &ltdel>barré&lt/del> encore du texte</code></td>
            <td>du texte <del>barré</del> encore du texte</td>
        </tr><tr>
            <td>Lien brut</td>
            <td><code>&lt;http://progdupeu.pl/&gt;</code></td>
            <td><a href="http://progdupeu.pl/">http://progdupeu.pl/</a></td>
        </tr><tr>
            <td>Lien enrichi</td>
            <td><code>[ce site est génial](http://progdupeu.pl/)</code></td>
            <td><a href="http://progdupeu.pl/">ce site est génial</a></td>
        </tr><tr>
            <td>Citation</td>
            <td>
<pre>
&gt; Texte à citer.
</pre>
            </td>
            <td>
                <blockquote><p>Texte à citer.</p></blockquote>
            </td>
        </tr><tr>
            <td>Image</td>
            <td><code>![Texte alternatif](http://placehold.it/64x64)</code></td>
            <td><img alt="Texte alternatif" src="http://placehold.it/64x64" /></td>
        </tr><tr>
            <td>Abréviations</td>
            <td>
<pre>Ce site utilise HTML et CSS.

*[HTML]: Hyper Text Markup Language
*[CSS]: Cascading Style Sheets</pre>
            </td>
            <td>
                <p>Ce site utilise <abbr title="Hyper Text Markup Language">HTML</abbr> et <abbr title="Cascading Style Sheets">CSS</abbr>.</p>
            </td>
        </tr>
    </tbody>
</table>

<h2>
    Mise en forme avancée
</h2>

<h3>
	Notes de bas de page et listes
</h3>


<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Notes de bas de page</td>
            <td>
<pre>Ceci est[^1] du texte[^2] avec des notes de bas de page[^2].

[^1]: Verbe
[^2]: Nom commun</pre>
            </td><td>
            <p>Ceci est<sup id="fnref:1"><a class="footnote-ref" href="#fn:1">1</a></sup> du texte<sup id="fnref:2"><a class="footnote-ref" href="#fn:2">2</a></sup> avec des notes de bas de page<sup id="fnref:2"><a class="footnote-ref" href="#fn:2">2</a></sup>.</p>
<div class="footnote">
<hr>
<ol>
<li id="fn:1">
<p>Verbe <a class="footnote-backref" title="Jump back to footnote 1 in the text" href="#fnref:1">↩</a></p>
</li>
<li id="fn:2">
<p>Nom commun <a class="footnote-backref" title="Jump back to footnote 2 in the text" href="#fnref:2">↩</a></p>
</li>
</ol>
</div>
            </td>
        </tr><tr>
            <td>Listes</td>
            <td>
<pre>* Puce 1
␣␣␣␣* Puce 1.1
␣␣␣␣* Puce 1.2
* Puce 2
␣␣␣␣* Puce 2.1
␣␣␣␣* Puce 2.2</pre>
            </td>
            <td>
                <ul>
                    <li>Puce 1
                        <ul>
                            <li>Puce 1.1</li>
                            <li>Puce 1.2</li>
                        </ul>
                    </li>
                    <li>Puce 2
                        <ul>
                            <li>Puce 2.1</li>
                            <li>Puce 2.2</li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<h3>
	Tableaux
</h3>

<pre>
| Colonne 1 | Colonne 2 |
|-----------|-----------|
| Donnée a | Donnée b |
| Donnée c | Donnée d |
</pre>

<p>
	Ce qui donne :
</p>

<table>
    <thead>
        <tr>
            <th>Colonne 1</th>
            <th>Colonne 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Donnée a</td>
            <td>Donnée b</td>
        </tr><tr>
            <td>Donnée c</td>
            <td>Donnée d</td>
        </tr>
    </tbody>
</table>

<h2>
    Code
</h2>

<p>
    Ces différents blocs vous permettent de présenter correctement du code,
    que ce soit de gros morceaux ou juste pour faire référence, par exemple,
    à des fonctions en utilisant le bloc de code inline.
</p>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th style="width: 30%;">Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Code inline</td>
            <td><code>`texte`</code></td>
            <td><code>texte</code></td>
        </tr><tr>
            <td>Bloc de code</td>
            <td>
<pre>
```python
from os import path
```</pre>
            <p>ou</p>
<pre>
␣␣␣␣:::python
␣␣␣␣from os import path</pre>
            </td>
            <td>
                <table class="codehilitetable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="codehilite"><pre><span class="kn">from</span> <span class="nn">os</span> <span class="kn">import</span> <span class="n">path</span>
</pre></div></td></tr></table>
            </td>
        </tr>
    </tbody>
</table>

<p>
    Note : Les langages diponibles sont : c, c++, cmake, console, fsharp, haskel, html, python (comme dans l'exemple), shell, text, ocaml (liste non exhaustive).
</p>

<h2>
    Formules mathématiques (LaTex)
</h2>

<p>
    Vous avez la possibilité d’incorporer des formules mathématiques dans vos
    messages et vos écrits de différentes manières.
</p>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Formule incorporée</td>
            <td>
<pre>
texte
$\int_0^1 f(x) dx$
suite
</pre>
            </td>
            <td><p>texte $\int_0^1 f(x) dx$ suite</p></td>
        </tr>
        <tr>
            <td>Formule centrée</td>
            <td>
<pre>
texte
$$\int_0^1 f(x) dx$$
suite
</pre>
            </td>
            <td><p>texte $$\int_0^1 f(x) dx$$ suite</p></td>
        </tr>
    </tbody>
</table>

<!-- Temporary disabled
<h2>
    Extensions
</h2>

<p>
    Les extensions sont des portions de code non-standard développées
    spécialement pour les usagers de Progdupeupl.
</p>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bloc secret</td>
            <td>
<pre>
[secret]{
    Mon précieux
}</pre>
            </td>
            <td>
                <div id="show-4242" class="hidden-block">
                    <a id="display-4242" class="hidden-link-show" href="#show-4242">
                        Contenu masqué (cliquez pour afficher)
                    </a>
                    <a id="hide-4242" class="hidden-link-hide" href="#hide-4242">
                        Masquer le contenu
                    </a>
                    <p>
                        Mon précieux.
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
-->
