<p>
    Bonjour <strong>{{ user.username }}</strong> et bienvenue sur Progdupeupl !
</p>
<p>
    Je suis le robot de ce site chargé de différentes tâches comme envoyer
    des messages d’information ou ouvrir des sujets pour laisser les
    utilisateurs commenter des publications.
</p>
<p>
    En tant que membre, tu peux désormais participer activement à la vie du site
    en te lançant dans <a href="{% url "pdp.tutorial.views.add_tutorial" %}">la rédaction de
    tutoriels</a> ou en <a href="{% url "pdp.forum.views.index" %}">contribuant aux forums</a>.
</p>
<p>
    N’hésites pas à <a href="{% url "pdp.forum.views.topic" 1 "bienvenue" %}">venir te présenter
    aux autres</a> si le cœur t’en dit ! :) </p>
<p>
    Amicalement,<br />
    Chtaline.
</p>
