{% extends "tutorial/base.html" %}
{% load humanize %}
{% load profile %}
{% load emarkdown %}

{% block title %}
    Tutoriels rédigés par {{ usr.username }}
{% endblock %}

{% block headline %}
    Tutoriels rédigés par {{ usr.username }}
{% endblock %}

{% block breadcrumb %}
    <li class="unavailable"><a href="#">Par auteur</a></li>
    <li class="current"><a href="#">{{ usr.username }}</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <table>
          <thead>
            <tr>
              <th width="15%">Tutoriels</th>
              <th width="10%">Quand</th>
              <th width="30%">Introduction</th>
            </tr>
          </thead>
          <tbody>
            {% for tutorial in tutorials %}
            <tr>
                <td>
                    <div>
                        {% if tutorial.thumbnail %}
                            <img src="{{ tutorial.thumbnail.url }}" />
                        {% endif %}
                        <a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }} </a> 
                        {% if tutorial.description %} <p> {{ tutorial.description }} </p> {% endif %}
                    </div>
                </td>
                <td>
                    {% with date=tutorial.pubdate|naturaltime %}
                        {{ date }}
                    {% endwith %}
                </td>
                <td>
                    {{ tutorial.introduction|truncatechars:200|emarkdown }}
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}
