{% extends "tutorial/base.html" %}

{% block title %}
    {{ tagname }}
{% endblock %}

{% block headline %}
    {{ tagname }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url "pdp.tutorial.views.tags" %}">Tags</a></li>
    <li class="current"><a href="#">{{ tagname }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% if tutorials %}
            <ul>
                {% for tutorial in tutorials %}
                    <li>
                        <a href="{{ tutorial.get_absolute_url }}">
                            {{ tutorial.title }}
                            {% if tutorial.is_beta %}
                                <span class="label alert">BETA</span>
                            {% endif %}
                        </a><br />
                        {% for tag in tutorial.tags.all %}
                            {% if tag.name %}
                            <a href="{% url "pdp.tutorial.views.by_tag" name=tag.name %}"
                                class="label {% if not tag.name == tagname %}secondary{% endif %}">
                                {{ tag.name }}
                            </a>
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>
                Aucun tutoriel n’est associé à ce tag.
                <a href="{% url "pdp.tutorial.views.tags" %}">
                    Retour à la liste des tags
                </a>
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}
