{% extends "base.html" %}

{% block title %}
Éditer la partie &ndash; Tutoriels
{% endblock %}

{% block headline %}
Éditer la partie
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/tutoriels/">Tutoriels</a> <span class="divider">/</span></li>
<li><a href="{{ part.tutorial.get_absolute_url }}">{{ part.tutorial.title }}</a> <span class="divider">/</span></li>
<li><a href="{{ part.get_absolute_url }}">{{ part.title }}</a> <span class="divider">/</span></li>
<li class="active">Éditer la partie</li>
{% endblock %}

{% block content %}

{% include "tutorial/part_common.html" %}

<form action="" method="POST" class="form-horizontal">

    <fieldset>
        <legend>Général</legend>

        <div class="control-group">
            <label class="control-label" for="id_title">Titre</label>
            <div class="controls">
                <input type="text" name="title" id="id_title"
                    placeholder="Titre" value="{{ part.title }}" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Texte</legend>

        <div class="control-group">
            <label class="control-label" for="id_introduction">Introduction</label>
            <div class="controls">
                <textarea name="introduction" id="id_introduction" class="input-block-level"
                    rows="10" placeholder="Introduction">{{ part.introduction }}</textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="id_conclusion">Conclusion</label>
            <div class="controls">
                <textarea name="conclusion" id="id_conclusion" class="input-block-level"
                    rows="10" placeholder="Conclusion">{{ part.conclusion }}</textarea>
            </div>
        </div>


    </fieldset>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">
                Sauvegarder les modifications
            </button>

            <a href="{{ part.get_absolute_url }}" class="btn">
                Annuler
            </a>
        </div>
    </div>

    {% csrf_token %}

</form>

{% endblock %}
