{% extends "tutorial/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Éditer le chapitre &ndash; Tutoriels
{% endblock %}

{% block headline %}
Éditer le chapitre
{% endblock %}

{% block breadcrumb %}
{% if chapter.tutorial %}
    <a href="{{ chapter.tutorial.get_absolute_url }}">{{ chapter.tutorial.title }}</a>
{% else %}
    <a href="{{ chapter.part.tutorial.get_absolute_url }}">{{ chapter.part.tutorial.title }}</a>
    <a href="{{ chapter.part.get_absolute_url }}">{{ chapter.part.title }}</a>
    <a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a>
{% endif %}
Éditer le chapitre
{% endblock %}

{% block content %}

{% if chapter.part %}
    {% include "tutorial/chapter_common.html" %}
{% endif %}

{% crispy form %}

{% endblock %}
