{% extends "base.html" %}

{% block title %}
    Éditer l'extrait
    &ndash; Tutoriels
{% endblock %}

{% block headline %}
    Éditer l'extrait
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/tutoriels/">Tutoriels</a> <span class="divider">/</span></li>
{% if chapter.tutorial %}
    <li><a href="{{ extract.chapter.tutorial.get_absolute_url }}">{{ extract.chapter.tutorial.title }}</a> <span class="divider">/</span></li>
{% else %}
    <li><a href="{{ extract.chapter.part.tutorial.get_absolute_url }}">{{ extract.chapter.part.tutorial.title }}</a> <span class="divider">/</span></li>
    <li><a href="{{ extract.chapter.part.get_absolute_url }}">{{ extract.chapter.part.title }}</a> <span class="divider">/</span></li>
    <li><a href="{{ extract.chapter.get_absolute_url }}">{{ extract.chapter.title }}</a> <span class="divider">/</span></li>
{% endif %}
    <li><a href="{{ extract.get_absolute_url }}">{{ extract.title }}</a> <span class="divider">/</span></li>
    <li class="active">Éditer l'extrait</li>
{% endblock %}

{% block content %}

<form action="" method="POST" class="form-horizontal">

    <fieldset>
        <legend>Général</legend>

        <div class="control-group">
            <label class="control-label" for="id_title">
                Titre de l'extrait
            </label>
            <div class="controls">
                <input type="text" placeholder="Titre" name="title" id="id_title"
                    value="{{ extract.title }}" />
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Texte</legend>

        <div class="control-group">
            <label class="control-label" for="id_introduction">
                Contenu
            </label>
            <div class="controls">
                <textarea name="text" id="id_text" class="input-block-level" rows="15"
                    placeholder="Contenu au format Markdown.">{{ extract.text }}</textarea>
            </div>
        </div>
    </fieldset>
   
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">
                Sauvegarder les modifications
            </button>

            <a href="{{ extract.get_absolute_url }}" class="btn">
                Annuler
            </a>
        </div>
    </div>

    {% csrf_token %}

</form>

{% endblock %}
