{% extends "base.html" %}
{% load markup %}
{% load crispy_forms_tags %}

{% block title %}
Nouvelle partie &ndash; Tutoriels
{% endblock %}

{% block headline %}
Nouvelle partie
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/tutoriels/">Tutoriels</a> <span class="divider">/</span></li>
<li><a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a> <span class="divider">/</span></li>
<li class="active">Nouvelle partie</li>
{% endblock %}

{% block content %}

{% include "tutorial/part_common.html" %}

{% crispy form %}

{% endblock %}
