{% extends "tutorial/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Nouveau
{% endblock %}

{% block headline %}
    Nouveau tutoriel
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Nouveau</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            C’est votre premier écrit ? Certaines options sont floues ?
            
            N’hésitez pas à consulter 
            <a href="{% url "pdp.pages.views.help_writting" %}">l’aide du
            module de rédaction</a> pour bien commencer !
        </p>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <h3>
            Depuis zéro<br />
            <small>Créer un tutoriel vide.</small>
        </h3>
        {% crispy form %}
    </div>
    <div class="large-1 columns">
        <h3><small>ou</small></h3>
    </div>
    <div class="large-5 columns">
        <h3>
            Importer<br />
            <small>Charger un tutoriel déjà rédigé.</small>
        </h3>
        {% crispy import_form %}
    </div>
</div>

{% endblock %}
