{% extends "tutorial/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Nouvel extrait &ndash; Tutoriels
{% endblock %}

{% block headline %}
Nouvel extrait
{% endblock %}

{% block breadcrumb %}
{% if chapter.part %}
    <a href="{{ chapter.part.tutorial.get_absolute_url }}">{{ chapter.part.tutorial.title }}</a>
    <a href="{{ chapter.part.get_absolute_url }}">{{ chapter.part.title }}</a>
    <a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a> 
{% else %}
    <a href="{{ chapter.tutorial.get_absolute_url }}">{{ chapter.tutorial.title }}</a>
{% endif %}
    Ajouter un extrait
{% endblock %}

{% block content %}

{% include "tutorial/extract_common.html" %}

{% crispy form %}

{% endblock %}
