{% extends "base.html" %}
{% load markup %}

{% block title %}
Nouveau chapitre &ndash; Tutoriels
{% endblock %}

{% block headline %}
Nouveau chapitre
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/tutoriels/">Tutoriels</a> <span class="divider">/</span></li>
<li><a href="{{ part.tutorial.get_absolute_url }}">{{ part.tutorial.title }}</a> <span class="divider">/</span></li>
<li><a href="{{ part.get_absolute_url }}">{{ part.title }}</a> <span class="divider">/</span></li>
<li class="active">Nouveau chapitre</li>
{% endblock %}

{% block content %}

{% include "tutorial/chapter_common.html" %}

<form action="" method="POST" class="form-horizontal">

    <fieldset>
        <legend>Général</legend>

        <div class="control-group">
            <label class="control-label" for="id_title">Titre</label>
            <div class="controls">
                <input type="text" placeholder="Titre" name="title" id="id_title" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Texte</legend>

        <div class="control-group">
            <label class="control-label" for="id_introduction">Introduction</label>
            <div class="controls">
                <textarea name="introduction" id="id_introduction"
                    class="input-block-level" rows="10"
                    placeholder="Introduction"></textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="id_conclusion">Conclusion</label>
            <div class="controls">
                <textarea name="conclusion" id="id_conclusion"
                    class="input-block-level" rows="10"
                    placeholder="Conclusion"></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">
                    <i class="icon-plus icon-white"></i>
                    Ajouter chapitre
                </button>

                <a href="{{ part.get_absolute_url }}" class="btn">
                    Annuler
                </a>
            </div>
        </div>
    </fieldset>

    {% csrf_token %}

</form>

{% endblock %}
