{# Block displaying a part #}
{% load markup %}

{% if user in part.tutorial.authors.all %}
<form action="{% url pdp.tutorial.views.modify_part %}" method="POST"> 
    <input type="hidden" name="part" value="{{ part.pk }}" />

    <a href="/tutoriels/nouveau/chapitre?partie={{ part.pk }}" class="btn">
        <i class="icon-plus"></i>
        Ajouter un chapitre
    </a>

    <a href="javascript:void(0)" class="btn move-btn" data-toggle="popover" data-original-title="Déplacer la partie..." data-placement="bottom"
        data-content="
        <select class='input-block-level' name='move_target'>
            {% if part.position_in_tutorial > 1 %}
                <option value='{{ part.position_in_tutorial|add:"-1" }}'>Monter</option>
            {% endif %}
            {% if part.position_in_tutorial < tutorial.get_parts.count %}
            <option value='{{ part.position_in_tutorial|add:"1" }}'>Descendre</option>
            {% endif %}
                <option disabled>&mdash; Déplacer avant</option>
            {% for part_mv in part.tutorial.get_parts %}
                {% if part != part_mv and part_mv.position_in_tutorial|add:"-1" != part.position_in_tutorial %}
                <option value='{% if part_mv.position_in_tutorial < part.position_in_tutorial %}{{ part_mv.position_in_tutorial }}{% else %}{{ part_mv.position_in_tutorial|add:"-1" }}{% endif %}'>
                        Partie {{ part_mv.position_in_tutorial }} : {{ part_mv.title }}
                    </option>
                {% endif %}
            {% endfor %}
            <option disabled>&mdash; Déplacer après</option>
            {% for part_mv in part.tutorial.get_parts %}
                {% if part != part_mv and part_mv.position_in_tutorial|add:"1" != part.position_in_tutorial %}
                <option value='{% if part_mv.position_in_tutorial < part.position_in_tutorial %}{{ part_mv.position_in_tutorial|add:"1" }}{% else %}{{ part_mv.position_in_tutorial }}{% endif %}'>
                        Partie {{ part_mv.position_in_tutorial }} : {{ part_mv.title }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
        <button type='submit' name='move' class='btn input-block-level'>
            <i class='icon-arrow-right'></i>
            Déplacer
        </button>
    ">
        <i class="icon-move"></i>
        Déplacer la partie
    </a>
        
    <div class="btn-group">
        <a href="/tutoriels/editer/partie?partie={{ part.pk }}"
            class="btn">
            <i class="icon-pencil"></i>
            Éditer la partie
        </a>
        <button type="submit" name="delete" class="btn">
            <i class="icon-remove"></i>
            Supprimer la partie
        </button>
    </div>

    {% csrf_token %}
</form>

{% endif %}

{% if part.introduction %}
    {{ part.introduction|markdown:"safe,codehilite(force_linenos=True),extra" }}
{% else %}
    <p>Pas d'introduction.</p>
{% endif %}

<p>
    {% if part.get_chapters.count = 0 %}
    Il n'y a aucun chapitre dans cette partie.
    {% endif %}
</p>

<ul>
    {% for chapter in part.get_chapters %}
    <li>
        <strong>
            <a href="{{ chapter.get_absolute_url }}">Chapitre {{ chapter.part.position_in_tutorial }}.{{ chapter.position_in_part }} | {{ chapter.title }}</a>
        </strong>
        <ul>
            {% for extract in chapter.get_extracts %}
            <li><a href="{{ extract.get_absolute_url }}">{{ extract.title }}</a></li>
            {% endfor %}
        </ul>
        <br />
    </li>
    {% endfor %}
</ul>

{% if part.conclusion %}
    {{ part.conclusion|markdown:"safe,codehilite(force_linenos=True),extra" }}
{% else %}
    <p>Pas de conclusion.</p>
{% endif %}
