{% extends "tutorial/base.html" %}
{% load markup %}

{% block title %}
{{ chapter.title }} &ndash; {{ chapter.part.tutorial.title }}
{% endblock %}

{% block headline %}
{{ chapter.title }}
{% endblock %}

{% block breadcrumb %}
<a href="{{ chapter.part.tutorial.get_absolute_url }}">{{ chapter.part.tutorial.title }}</a>
<a href="{{ chapter.part.get_absolute_url }}">{{ chapter.part.title }}</a>
{{ chapter.title }}
{% endblock %}

{% block content %}

{% include "tutorial/view_chapter_pager.html" %}
{% include "tutorial/view_chapter_common.html" %}
{% include "tutorial/view_chapter_pager.html" %}

{% endblock %}
