{% extends "tutorial/base.html" %}

{% block title %}
{{ tutorial.title }} &ndash; Tutoriels
{% endblock %}

{% block headline %}
{{ tutorial.title }}<br />
<small>{{ tutorial.description }}</small>
{% endblock %}

{% block breadcrumb %}
{{ tutorial.title }}
{% endblock %}

{% block content %}

<p>
    Tutoriel
    {% if not tutorial.is_mini %}
        étendu
    {% endif %}
    rédigé par
    {% for member in tutorial.authors.all %}
        {% if forloop.counter > 1 %}
            {% if forloop.last %}
                et
            {% else %}
                ,
            {% endif %}
        {% endif %}
        {% include "member/member_item_common.html" %}
    {% endfor %}.
</nav>

{% if user.is_authenticated and user in tutorial.authors.all %}
<p>
    <form action="{% url pdp.tutorial.views.modify_tutorial %}" method="POST">
    {% if not tutorial.is_mini %}
    <a href="/tutoriels/nouveau/partie?tutoriel={{ tutorial.pk }}" class="btn">
        <i class="icon-plus"></i>
        Ajouter une partie
    </a>
    {% endif %}

    <div class="btn-group">
        <a href="{% url pdp.tutorial.views.edit_tutorial %}?tutoriel={{ tutorial.pk }}" class="btn">
            <i class="icon-pencil"></i>
            Éditer le tutoriel
        </a>
        <button type="submit" name="delete" class="btn">
            <i class="icon-remove"></i>
            Supprimer le tutoriel
        </button>
    </div>

    <input type="hidden" name="tutorial" value="{{ tutorial.pk }}" />
    {% csrf_token %}
    </form>
</p>
{% endif %}

{% if tutorial.is_mini %}
{# Small tutorial #}

    {% include "tutorial/view_chapter_common.html" %}

{% else %}
{# Large tutorial #}

    {% if parts %}
        {% for part in parts %}
            <h2>
                <a href="{{ part.get_absolute_url }}">
                    Partie {{ part.position_in_tutorial }} : {{ part.title }}
                </a>
            </h2>
            {% include "tutorial/view_part_common.html" %}
        {% endfor %}
    {% else %}
        <p>
            Il n'y a actuellement aucune partie dans ce tutoriel.
        </p>
    {% endif %}

{% endif %}
{% endblock %}
