{# Block displaying a chapter (for large and small tutorials) #}
{% load markup %}

{% if user in chapter.part.tutorial.authors.all or user in chapter.tutorial.authors.all %}
<p>
    <form action="{% url pdp.tutorial.views.modify_chapter %}" method="POST">
    <a href="/tutoriels/nouveau/extrait?chapitre={{ chapter.pk }}" class="btn">
        <i class="icon-plus"></i>
        Ajouter un extrait
    </a>

    <div class="btn-group">
        <a href="/tutoriels/editer/chapitre?chapitre={{ chapter.pk }}" class="btn">
            <i class="icon-pencil"></i>
            Éditer le chapitre
        </a>

        {# Part deletion is only available for large tutorials #}
        {% if chapter.part %}
        <button type="submit" name="delete" class="btn">
            <i class="icon-remove"></i>
            Supprimer le chapitre
        </button>
        {% endif %}
    </div>

    <input type="hidden" name="chapter" value="{{ chapter.pk }}" />
    {% csrf_token %}
    </form>
</p>
{% endif %}

{% if chapter.introduction %}
{{ chapter.introduction|markdown:"safe,codehilite(force_linenos=True),extra" }}
{% else %}
<p>Aucune introduction.</p>
{% endif %}

<div>
    {% if chapter.get_extracts %}
    <ul>
    {% for extract in chapter.get_extracts %}
        <li>
            <a href="#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}">
                {{ extract.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>
        Aucun extrait.
    </p>
    {% endif %}
</div>

<hr />

{% for extract in chapter.get_extracts %}
    <h2 id="{{ extract.position_in_chapter }}-{{ extract.title|slugify }}">{{ extract.title }}</h2>

    {% if user in chapter.part.tutorial.authors.all or user in chapter.tutorial.authors.all %}
    <p>
        <form action="{% url pdp.tutorial.views.modify_extract %}" method="POST">

        <a href="javascript:void(0)" class="btn move-btn" daata-toggle="popover" data-original-title="Déplacer l'extrait..." data-placement="bottom"
            data-content="
                <select class='input-block-level' name='move_target'>
                    {% if extract.position_in_chapter > 1 %}
                        <option value='{{ extract.position_in_chapter|add:"-1" }}'>Monter</option>
                    {% endif %}
                    {% if extract.position_in_chapter < extract.chapter.get_extracts.count %}
                        <option value='{{ extract.position_in_chapter|add:"1" }}'>Descendre</option>
                    {% endif %}
                    <option disabled>&mdash; Déplacer avant</option>
                    {% for extract_mv in extract.chapter.get_extracts %}
                        {% if extract != extract_mv and extract_mv.position_in_chapter|add:"-1" != extract.position_in_chapter %}
                        <option value='{% if extract_mv.position_in_chapter < extract.position_in_chapter %}{{ extract_mv.position_in_chapter }}{% else %}{{ extract_mv.position_in_chapter|add:"-1" }}{% endif %}'>
                                Extrait {{ extract_mv.position_in_chapter }} : {{ extract_mv.title }}
                            </option>
                        {% endif %}
                    {% endfor %}
                    <option disabled>&mdash; Déplacer après</option>
                    {% for extract_mv in extract.chapter.get_extracts %}
                        {% if extract != extract_mv and extract_mv.position_in_chapter|add:"1" != extract.position_in_chapter %}
                        <option value='{% if extract_mv.position_in_chapter < extract.position_in_chapter %}{{ extract_mv.position_in_chapter|add:"1" }}{% else %}{{ extract_mv.position_in_chapter }}{% endif %}'>
                                Extrait {{ extract_mv.position_in_chapter }} : {{ extract_mv.title }}
                            </option>
                        {% endif %}
                    {% endfor %}

                </select>   
                <button type='submit' name='move' class='btn input-block-level'>
                    <i class='icon-arrow-right'></i>
                    Déplacer
                </button>
            ">
            <i class="icon-move"></i>
            Déplacer l'extrait
        </a>

        <div class="btn-group">
            <a href="{% url pdp.tutorial.views.edit_extract %}?extrait={{ extract.pk }}" class="btn">
                <i class="icon-pencil"></i>
                Éditer l'extrait
            </a>
            <button type="submit" name="delete" class="btn">
                <i class="icon-remove"></i>
                Supprimer l'extrait
            </button>
        </div>

        <input type="hidden" name="extract" value="{{ extract.pk }}" />
        {% csrf_token %}
        </form>
    </p>
    {% endif %}

    {% if extract.text %}
        {{ extract.text|markdown:"safe,codehilite(force_linenos=True),extra" }}
    {% else %}
    <p>
        Cet extrait est vide.
    </p>
    {% endif %}
{% endfor %}

<hr />

{% if chapter.conclusion %}
{{ chapter.conclusion|markdown:"safe,codehilite(force_linenos=True),extra" }}
{% else %}
<p>Aucune conclusion.</p>
{% endif %}
