{% extends "tutorial/base.html" %}

{% block title %}
{{ tutorial.title }} &ndash; Tutoriels
{% endblock %}

{% block headline %}
    {{ tutorial.title }}<br />
    <small>{{ tutorial.description }}</small>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ tutorial.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    {% if user.is_authenticated and user in tutorial.authors.all %}
        <form action="{% url pdp.tutorial.views.modify_tutorial %}" method="post">
            <div class="button-group">
                {% if not tutorial.is_mini %}
                    <a href="/tutoriels/nouveau/partie?tutoriel={{ tutorial.pk }}" class="button">
                        <i class="icon-plus"></i>
                        Ajouter
                    </a>
                {% endif %}
                <a href="{% url pdp.tutorial.views.edit_tutorial %}?tutoriel={{ tutorial.pk }}" class="button">
                    <i class="icon-pencil"></i>
                    Éditer
                </a>
                <button type="submit" name="delete" class="button secondary">
                    <i class="icon-remove"></i>
                    Supprimer
                </button>
            </div>
            <input type="hidden" name="tutorial" value="{{ tutorial.pk }}" />
            {% csrf_token %}
        </form>
    {% endif %}
    <a href="{% url pdp.tutorial.views.download %}?tutoriel={{ tutorial.pk }}" class="button">
        Télécharger
    </a>
{% endblock %}

{% block content %}
    
<div class="row">
    <div class="large-12 columns">
        <p>
            Tutoriel
            {% if not tutorial.is_mini %}
                étendu
            {% endif %}
            rédigé par
            {% for member in tutorial.authors.all %}
                {% if forloop.counter > 1 %}
                    {% if forloop.last %}
                        et
                    {% else %}
                        ,
                    {% endif %}
                {% endif %}
                {% include "member/member_item_common.part.html" %}
            {% endfor %}.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        
        
        {% if tutorial.is_mini %}
        {# Small tutorial #}
        
            {% include "tutorial/view_chapter_common.part.html" %}
        
        {% else %}
        {# Large tutorial #}
        
            {% if parts %}
                {% for part in parts %}
                    <h2>
                        <a href="{{ part.get_absolute_url }}">
                            Partie {{ part.position_in_tutorial }} : {{ part.title }}
                        </a>
                    </h2>
                    {% include "tutorial/view_part_common.part.html" %}
                {% endfor %}
            {% else %}
                <p>
                    Il n'y a actuellement aucune partie dans ce tutoriel.
                </p>
            {% endif %}
        
        {% endif %}
        {% endblock %}
    </div>
</div>


