{# Block displaying a part #}
{% load markup %}
{% load emarkdown %}

{% if user in part.tutorial.authors.all %}
<form action="{% url pdp.tutorial.views.modify_part %}" method="POST"> 
    <input type="hidden" name="part" value="{{ part.pk }}" />

    <div class="button-group">
        <a href="/tutoriels/nouveau/chapitre?partie={{ part.pk }}" class="button">
            Ajouter
        </a>
        <a href="/tutoriels/editer/partie?partie={{ part.pk }}" class="button">
            Éditer
        </a>
        <a href="#" class="button secondary">
            Déplacer
        </a>
        <button type="submit" name="delete" class="button secondary">
            Supprimer
        </button>
    </div>
    
    

    {% csrf_token %}
</form>

{% endif %}

{% if part.introduction %}
    {{ part.introduction|emarkdown }}
{% else %}
    <p>Pas d'introduction.</p>
{% endif %}

<p>
    {% if part.get_chapters.count = 0 %}
    Il n'y a aucun chapitre dans cette partie.
    {% endif %}
</p>

<ul>
    {% for chapter in part.get_chapters %}
    <li>
        <a href="{{ chapter.get_absolute_url }}">Chapitre {{ chapter.part.position_in_tutorial }}.{{ chapter.position_in_part }} | {{ chapter.title }}</a>
        <ul>
            {% for extract in chapter.get_extracts %}
            <li><a href="{{ extract.get_absolute_url }}">{{ extract.title }}</a></li>
            {% endfor %}
        </ul>
        <br />
    </li>
    {% endfor %}
</ul>

{% if part.conclusion %}
    {{ part.conclusion|emarkdown }}
{% else %}
    <p>Pas de conclusion.</p>
{% endif %}
