@charset "UTF-8";
/* line 17, ../sass/base.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 22, ../sass/base.scss */
html {
  height: 100%;
}

/* line 26, ../sass/base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  height: 100%;
  display: table;
  width: 100%;
}

/* déclarations permettant d'avoir un min-height: 100% avec le footer qui suit */
/* line 37, ../sass/base.scss */
header, .container, footer {
  display: table-row;
  width: 100%;
}

/* line 42, ../sass/base.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -2em;
}

/* line 50, ../sass/base.scss */
.push, footer {
  height: 2em;
}

/* fin du bloc pour le footer mobile */
/* line 56, ../sass/base.scss */
header {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  background-color: #1c2f40;
  color: #f2e9d8;
  height: 42px;
}
/* line 62, ../sass/base.scss */
header h1 {
  float: left;
  font-size: 18px;
  padding: 8px;
  font-weight: normal;
  margin: 0;
  display: inline-block;
  margin: 0 10px 0 10px;
}
/* line 72, ../sass/base.scss */
header nav {
  display: inline-block;
  height: 42px;
}
/* line 75, ../sass/base.scss */
header nav a {
  height: 42px;
  margin: 0;
  padding: 8px;
  position: relative;
  top: 10px;
  font-size: 14px;
}
/* line 82, ../sass/base.scss */
header nav a:hover {
  color: #8094a6;
}
/* line 85, ../sass/base.scss */
header nav .active {
  color: #8094a6;
}
/* line 90, ../sass/base.scss */
header nav:last-child {
  float: right;
  margin-right: 10px;
}

/* line 96, ../sass/base.scss */
.content {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
}
/* line 104, ../sass/base.scss */
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
/* line 108, ../sass/base.scss */
.content h1 {
  font-size: 28px;
}
/* line 112, ../sass/base.scss */
.content ul {
  list-style-type: square;
}
/* line 116, ../sass/base.scss */
.content a {
  color: #1c2f40;
  font-weight: bold;
}
/* line 121, ../sass/base.scss */
.content p {
  text-align: justify;
}

/* line 128, ../sass/base.scss */
footer {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  height: 42px;
  font-size: 14px;
  padding: 15px;
  background-color: #1c2f40;
  color: #f2e9d8;
  font-weight: 300;
}
/* line 139, ../sass/base.scss */
footer a {
  color: #8094a6;
}
/* line 141, ../sass/base.scss */
footer a:hover {
  color: #d9d1ba;
}
/* line 144, ../sass/base.scss */
footer section {
  margin: 0 auto;
  margin: 15px;
}
/* line 148, ../sass/base.scss */
footer section nav a {
  margin-right: 6px;
}
/* line 152, ../sass/base.scss */
footer section .right {
  float: right;
  text-align: right;
}
/* line 155, ../sass/base.scss */
footer section .right nav a {
  margin-right: 0px;
  margin-left: 6px;
}

@media (min-width: 1200px) {
  /* line 166, ../sass/base.scss */
  .content {
    width: 1170px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 172, ../sass/base.scss */
  .content {
    width: 724px;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  /* line 178, ../sass/base.scss */
  .content {
    width: 724px;
  }
}
@media (max-width: 767px) {
  /* line 184, ../sass/base.scss */
  .content {
    width: auto;
    padding: 0 20px 0 20px;
  }
}
