.navbar
{
    margin-bottom: 10px;
}

.spacer1 { height: 1em; }
.spacer2 { height: 2em; }
.spacer3 { height: 3em; }

.footer
{
    background-color: #F5F5F5;
    border-top: solid 1px #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
}

thead th
{
    background-color: rgb(51, 51, 51);
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.post-head td
{
    background-color: rgb(245, 245, 245);
}

.table .post-author
{
    text-align: center;
}

.post-message td
{
    border-top: 0px none;
}

/* Add this to anchors to position them correctly in the navbar */
.anchor
{
    padding-top: 60px;
    margin-top: -60px;
}

.media
{
    background: #fefefe;
    padding: 10px;
}

.media:hover
{
    background: #f5f5f5;
}

.media-article h4:before
{
    content: "$";
}

.media-tutorial h4:before
{
    content: "ยง";
}


.media-topic h4:before
{
    content: "`";
}

/* Forums */

.forum-icon
{
    background: url("/static/img/forum.png") no-repeat 10px 45%;
    padding-left: 48px;
}

.forum-icon-unread
{
    background-image: url("/static/img/forum-unread.png");
}

.forum-stats
{
    margin: 16px 0px;
    text-align: center;
}

.forum-last-message 
{
    margin-top: 12px;
}

/* general */

.pdp-header
{
    font-weight: bold;
    background-color: rgb(51, 51, 51);
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.pdp-header div {
    padding: 8px;
}

.faketable-row {
    border-bottom: solid 1px #ccc;
}

/* table td */
.faketable-row div {
    padding: 8px;
}

.faketable-centered {
    text-align: center;
    padding-top: 18px !important;
}

.row-hover:hover {
    background-color: #f5f5f5;
}
