{% extends 'base.html' %}
{% load humanize %}
{% load emarkdown %}

{% block title %}
    Recherche
{% endblock %}

{% block headline %}
    Recherche
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="javascript:;">Recherche</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button type="submit" class="button">Rechercher</button>
                </td>
            </tr>
        </table>
    </form>
    {% if query %}
        {% if page.object_list %}
            <h3>Résultats</h3>
                <table>
                  <thead>
                    <tr>
                      <th>Titre</th>
                      <th width="15%">Quand</th>
                      <th width="55%">Extrait</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for result in page.object_list %}
                        {% if result.content_type == "forum.topic" %}
                            {% include "search/result_topic.part.html" %}
                        {% elif result.content_type == "tutorial.extract" %}
                            {% include "search/result_extract.part.html" %}
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
        {% else %}
            <div class="panel">
                <p>Aucun résultat trouvé.</p>
            </div>
        {% endif %}
    {% endif %}
</div>

{% if page.has_previous or page.has_next %}
<div class="row">
    <div class="large-12 columns">
        {% if page.has_next %}
            <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
                Plus de résultats
            </a>
        {% endif %}
        {% if page.has_previous %}
            ou
            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                retour à la page précédente
            </a>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}
