{% load url from future %}
{% load profile %}
{% load forum_unread_count %}
<!doctype html>
<html>
<head>
    <title>{% block title %}Sans nom{% endblock %} | progdupeu.pl</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen" />
    <link href="/static/css/progdupeupl.css" rel="stylesheet" media="screen" />
    <link href="/static/css/pygments.css" rel="stylesheet" media="screen" />
</head>
<body>

    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="/" class="brand">progdupeu.pl</a>
                <div class="nav-collapse collapse">
                    {% if user.is_authenticated %}
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% with profile=user|profile %}
                                    <img src="{{ profile.get_gravatar_url }}&amp;s=16" alt="Avatar" style="vertical-align: bottom;" />
                                    {{ user.username }}
                                    <b class="caret"></b>
                                    {% endwith %}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ user.get_absolute_url }}">
                                        <i class="icon-user"></i>
                                        Profil
                                    </a></li>
                                    <li class="divider"></li>
                                    <li><a href="/membres/deconnexion/{{ get_token }}">
                                        <i class="icon-off"></i>
                                        Se déconnecter
                                    </a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav pull-right">
                            <li><a href="/membres/connexion">Connexion</a></li>
                            <li><a href="/membres/inscription">Inscription</a></li>
                        </ul>
                    {% endif %}
                    <ul class="nav">
                        <li><a href="/">
                            <i class="icon-white icon-home"></i>
                            Accueil
                        </a></li>
                        <li><a href="/articles/">
                            <i class="icon-white icon-file"></i>
                            Articles
                        </a></li>
                        <li><a href="/tutoriels/">
                            <i class="icon-white icon-book"></i>
                            Tutoriels
                        </a></li>
                        <li><a href="/forums/">
                            <i class="icon-white icon-comment"></i>
                            Forums
                            {% if user.is_authenticated %}
                                {% with unread_topic_count=user|forum_unread_count %}
                                    {% if unread_topic_count > 0 %}
                                        <span class="label label-important">{{ unread_topic_count }}</span>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            {% endblock %}
        </ul>

        <div class="page-header">
            <h1>{% block headline %}{% endblock %}</h1>
        </div>

        {% block content %}{% endblock %}

        <div class="spacer3"></div>
    </div>

    <div class="footer">
        <div class="container">
            <p>&copy; progdupeu.pl 2013</p>
            <a href="https://twitter.com/Progdupeupl">Contact</a> &#183;
            <a href="http://paste.awesom.eu/">Pastebin</a> &#183;
            <a href="https://bitbucket.org/MicroJoe/progdupeupl">Code source</a>
        </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/pdp.js"></script>

    {# Additionnal JS files can be loaded in this block #}
    {% block js %}
    {% endblock %}
</body>
</html>
