{% load staticfiles %}
{% load profile %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <title>{% block title %}Sans nom{% endblock %}{% block title_base %}{% endblock %} &#183; Progdupeupl</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{% static "css/style.min.css" %}" />
</head>
<body>
    <header>
        <h1><a href="/">Progdupeupl</a></h1>
        <nav>
            <a href="{% url pdp.pages.views.home %}" {% block menu_home %}{% endblock %}>Accueil</a>
            <a href="{% url pdp.article.views.index %}" {% block menu_article %}{% endblock %}>Articles</a>
            <a href="{% url pdp.tutorial.views.index %}" {% block menu_tutorial %}{% endblock %}>Tutoriels</a>
            <a href="{% url pdp.forum.views.index %}" {% block menu_forum %}{% endblock %}>Forums</a>
        </nav>
        <nav>
            {% if user.is_authenticated %}
            {% with profile=user|profile %}
                <a href="{{ user.get_absolute_url }}">
                    <img src="{{ profile.get_gravatar_url }}&amp;s=20" alt="Avatar" />
                    {{ user.username }}</a>
            {% endwith %}
            {% else %}
                <a href="{% url pdp.member.views.register_view %}">S'inscrire</a>
                <a href="{% url pdp.member.views.login_view %}">Se connecter</a>
            {% endif %}
        </nav>
    </header>
    <div class="container">
        <div class="breadcrumb">
            <nav>
                <a href="{% url pdp.pages.views.home %}">Accueil</a>
                {% block breadcrumb_base %}{% endblock %}
                {% block breadcrumb %}{% endblock %}
            </nav>
        </div>
        <section class="content">

            <h1>{% block headline %}{% endblock %}</h1>
            {% block content %}{% endblock %}

        </section>
    </div>

    <footer>
        <section>
            <div class="right">
                <nav>
                    <a href="https://twitter.com/Progdupeupl">Twitter</a>
                    <a href="https://bitbucket.org/MicroJoe/progdupeupl">Bitbucket</a>
                </nav>
            </div>
            &copy; Progdupeupl 2013
        </section>
    </footer>

    {# MathJax #}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                processEscapes: true
            }
        });
    </script>
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
</html>
