<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Description</th>
            <th>Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Italique</td>
            <td><code>*texte*</code> ou <code>_texte_</code></td>
            <td><i>texte</i></td>
        </tr><tr>
            <td>Gras</td>
            <td><code>**texte**</code> ou <code>__texte__</code></td>
            <td><b>texte</b></td>
        </tr><tr>
            <td>Lien</td>
            <td><code>[ce site est génial](http://progdupeu.pl/)</code></td>
            <td><a href="http://progdupeu.pl/">ce site est génial</a></td>
        </tr><tr>
            <td>Lien brut</td>
            <td><code>&lt;http://progdupeu.pl/&gt;</code></td>
            <td><a href="http://progdupeu.pl/">http://progdupeu.pl/</a></td>
        </tr><tr>
            <td>Image</td>
            <td><code>![Texte alternatif](http://progdupeu.pl/static/img/blank_tutorial.png)</code></td>
            <td><img alt="Texte alternatif" src="http://progdupeu.pl/static/img/blank_tutorial.png" /></td>
        </tr><tr>
            <td>Code inline</td>
            <td><code>`texte`</code></td>
            <td><code>texte</code></td>
        </tr><tr>
            <td>Bloc de code</td>
            <td>
<pre>
```python
from os import path
```</pre>
            <p>ou</p>
<pre>
␣␣␣␣:::python
␣␣␣␣from os import path</pre>
            </td>
            <td>
<div class="codehilite"><pre><span class="kn">from</span> <span class="nn">os</span> <span class="kn">import</span> <span class="n">path</span></pre></div>
            </td>
        </tr><tr>
            <td>Citation</td>
            <td>
<pre>
&gt; Texte à citer.
</pre>
            </td>
            <td>
                <blockquote><p>Texte à citer.</p></blockquote>
            </td>
        </tr><tr>
            <td>Listes</td>
            <td>
<pre>
␣* Puce 1
␣␣␣␣* Puce 1.1
␣␣␣␣* Puce 1.2
␣* Puce 2</pre>
            </td>
            <td>
                <ul>
                    <li>Puce 1
                        <ul>
                            <li>Puce 1.1</li>
                            <li>Puce 1.2</li>
                        </ul>
                    </li>
                    <li>Puce 2</li>
                </ul>
            </td>
            </tr><tr>
            <td>Abbrévitations</td>
            <td>
<pre>
Ce site utilise HTML et CSS.

*[HTML]: Hyper Text Markup Language
*[CSS]: Cascading Style Sheets</pre>
            </td>
            <td>
                <p>Ce site utilise <abbr title="Hyper Text Markup Language">HTML</abbr> et <abbr title="Cascading Style Sheets">CSS</abbr>.</p> 
            </td>
        </tr>
    </tbody>
</table>
