{% extends "base.html" %}
{% load cache %}

{% block menu_home %}
class="active"
{% endblock %}

{% load staticfiles %}

{# Titles #}

{% block title %}
    Accueil
{% endblock %}

{% block headline %}
    Quoi de neuf ?
{% endblock %}

{% block meta %}
    <meta name="description" content="Bienvenue sur Progdupeupl, une communauté de passionnés d'informatique et notamment de programmation. Ce site permet non seulement de se former à la programmation, mais également de discuter entre membres pour progresser, découvrir des astuces, partager, aider, en bref : échanger de façon utile sur le monde de l'informatique." />
{% endblock %}

{% block header %}
    <h1>
        Bienvenue
    </h1>
    <p>
        Bienvenue sur Progdupeupl, <strong>une communauté de passionnés
        d'informatique</strong> et notamment de programmation. Ce site permet
        non seulement de se former à la programmation, mais également de
        discuter entre membres pour progresser, découvrir des astuces,
        partager, aider, en bref : échanger de façon utile sur le monde de
        l'informatique.
    </p>
{% endblock %}

{# Content #}

{% block content %}

<div class="row">
    {# Tutorials #}
    <div class="large-4 columns">
        <div class="home-app-title">
            <h2>
                <a href="{% url "pdp.tutorial.views.index" %}">
                    Tutoriels
                </a>
            </h2>
        </div>
        <div class="row">
            {% cache 120 home-tutorials %}
            <div class="large-12 columns">
                {% if last_tutorials %}
                    {% for tutorial in last_tutorials %}
                        {% include "tutorial/tutorial_item_small.part.html" %}
                    {% endfor %}
                {% else %}
                    <p>Aucun tutoriel actuellement.</p>
                {% endif %}
            </div>
            {% endcache %}
        </div>
    </div>
    <div class="large-8 columns">
        <div class="home-app-title">
            <h2>
                <a href="{% url "pdp.forum.views.index" %}">
                    Forums
                </a>
            </h2>
        </div>
        <div class="row">
            {% cache 120 home-forums user.username %}
            <div class="large-6 columns">
                {% if last_topics %}
                    {% for topic in last_topics %}
                        {% if not forloop.counter|divisibleby:2 %}
                             {% include "forum/topic_item_common.part.html" %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Aucun sujet récent.</p>
                {% endif %}
            </div>
            <div class="large-6 columns">
                {% if last_topics %}
                    {% for topic in last_topics %}
                        {% if forloop.counter|divisibleby:2 %}
                             {% include "forum/topic_item_common.part.html" %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            {% endcache %}
        </div>
    </div>
</div>

{# Access buttons for desktop version #}
<div class="row hide-for-small">
    <div class="large-4 columns">
        <div class="button-group">
            <a href="{% url "pdp.tutorial.views.index" %}" class="button">
                Aller aux tutoriels
            </a>
            {% include "tutorial/feeds.part.html" %}
        </div>
    </div>
    <div class="large-8 columns">
        <div class="button-group full-width">
            <a href="{% url "pdp.forum.views.index" %}" class="button">
                Aller aux forums
            </a>
            {% include "forum/feeds.part.html" %}
        </div>
    </div>
</div>

{% endblock %}
