{% extends "base.html" %}

{% block menu_home %}
class="active"
{% endblock %}

{% load staticfiles %}

{# Titles #}

{% block title %}
Accueil
{% endblock %}

{% block headline %}
Bonjour o/
{% endblock %}

{# Content #}

{% block content %}
<p>
    Bienvenue sur Progdupeupl, <strong>une communauté de passionnés
    d'informatique</strong> et notamment de programmation. Ce site permet
    non seulement de se former à la programmation, mais également de discuter
    entre membres pour progresser, découvrir des astuces, partager, aider, en
    bref : échanger de façon utile sur le monde de l'informatique.
</p>

{# Articles #}

{% include "article/feeds.part.html" %}

<h2>Des articles <small>pour se tenir informé</small></h2>

<p>
    Les articles sont rédigés par la communauté et permettent aussi bien de se tenir informé des dernières innovations du moment que de découvrir de nouveaux concepts liés aux différents domaines de l'informatique. Voici la liste des trois derniers articles publiés sur le site :
</p>

{% if last_articles %}
    <div class="article-items">
    {% for article in last_articles %}
        {% include "article/article_item_common.html" %}
    {% endfor %}
    </div>
{% else %}
    <p>Pas d'articles pour l'instant.</p>
{% endif %}
<p>
<a href="{% url pdp.article.views.index %}" class="button">
        Aller à la liste des articles
    </a>
</p>

{# Tutorials #}

{% include "tutorial/feeds.part.html" %}

<h2>Des tutoriels <small>pour apprendre</small></h2>

<p>
    Les tutoriels vous permettent de découvrir et d'apprendre sur divers sujets variés axés autour de l'informatique de manière plus avancée qu'avec les articles. Voici les trois derniers tutoriels parus sur Progdupeupl :
</p>
{% if last_tutorials %}
    <div class="tutorial-items">
    {% for tutorial in last_tutorials %}
        {% include "tutorial/tutorial_item_common.html" %}
    {% endfor %}
    </div>
{% else %}
    <p>Aucun tutoriel actuellement.</p>
{% endif %}
<p>
<a href="{% url pdp.tutorial.views.index %}" class="button">
        Liste des tutoriels
    </a>
</p>

{# Forums #}

<h2>Des forums <small>pour discuter et partager</small></h2>

<p>
    Les forums vous permettent de venir poser vos questions aux autres
    membres mais aussi de s'entrainer ou tout simplement discuter sur
    divers sujets avec le reste de la communauté. Voici les derniers
    sujets créés sur le forum :
</p>
{% if last_topics %}
    <div class="topic-items">
    {% for topic in last_topics %}
        {% include "forum/topic_item_common.html" %}
    {% endfor %}
    </div>
{% else %}
    <p>Aucun sujet récent.</p>
{% endif %}

<p>
    <a href="{% url pdp.forum.views.index %}" class="button">
        Accéder aux forums
    </a>
</p>

{% endblock %}
