.home-app-title {
    @include grid-row(collapse);
    padding-bottom: emCalc(3px);
    margin-bottom: emCalc(8px);
    border-bottom: solid 1px #eee;

    div {
        @include grid-column(2, $collapse: true); 
        text-align: center;

        @media #{$small} {
            padding-top: emCalc(12px);
        }
    }
        
    h2 {
        @include grid-column(10, $collapse: true);
        margin: 0;
        padding-left: emCalc(2px);
    }
}
