{% load static %}

<div class="row article-publication-item">
    <div class="large-1 small-2 columns">
        {% if article.thumbnail %}
            <img src="{{article.thumbnail.url }}" alt="" width="64px" />
        {% else %}
        <img src="{% static "img/article-blank.png" %}" alt="" width="64px" />
        {% endif %}
    </div>
    <div class="large-10 small-10 columns">
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        {% if article.is_beta %}<span class="label alert">BETA</span>{% endif %}
        <p>{{ article.description }}</p>
    </div>
    <div class="small-1 columns hide-for-small">
        <div class="date-box">
            {% with date=article.pubdate %}
                {% include "misc/datebox.part.html" %}
            {% endwith %}
        </div>
    </div>
</div>
