{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Éditer &ndash; Articles
{% endblock %}

{% block headline %}
Éditer l'article
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/articles/">Articles</a> <span class="divider">/</span></li>
<li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a> <span class="divider">/</span></li>
<li class="active">Éditer l'article</li>
{% endblock %}

{% block content %}

{% crispy form %}

{% endblock %}
