{% extends "article/base.html" %}
{% load taggit_extras %}

{% block title %}
    {{ tagname }}
{% endblock %}

{% block headline %}
    {{ tagname }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url "pdp.article.views.tags" %}">Tags</a></li>
    <li class="current"><a href="#">{{ tag }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ article.get_absolute_url }}">
                        {{ article.title }}
                    </a>
                    {% for tag in article.tags.all %}
                        {% if tag.name %}
                        <a href="{% url "pdp.article.views.tag" name=tag.name %}"
                            class="label {% if not tag.name == tagname %}secondary{% endif %}">
                            {{ tag.name }}
                        </a>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
