{% extends "article/base.html" %}
{% load emarkdown %}
{% load markup %}
{% load humane_date %}

{% block title %}
{{ article.title }} &ndash; Articles
{% endblock %}

{% block headline %}
{{ article.title }}<br />
<small>{{ article.description }}</small>
{% endblock %}

{% block breadcrumb %}
    {{ article.title }}
{% endblock %}

{% block content %}

{% ifequal user article.author %}
<form action="{% url pdp.article.views.modify %}" method="POST">
    <a href="/articles/editer?article={{ article.pk }}" class="button">
        <i class="icon-pencil"></i>
        Éditer l'article
    </a>

    <button type="submit" name="delete" class="button">
        <i class="icon-remove"></i>
        Supprimer l'article
    </button>

    <input type="hidden" name="article" value="{{ article.pk }}" />
    {% csrf_token %}
</form>
{% endifequal %}

<p>
    Rédigé par
    {% with member=article.author %}
        {% include "member/member_item_common.html" %}
    {% endwith %}
    et publié
    {{ article.pubdate|humane_date }}.
</p>

{% if article.is_visible %}
    {% include "article/view_pager.html" %}
{% endif %}

{{ article.text|emarkdown }}

<hr />

{% if article.is_visible %}
    {% include "article/view_pager.html" %}
{% else %}
    <p>
        Cet article n'a pas encore été mis en ligne.
    </p>
{% endif %}


{% endblock %}
