{% extends "forum/base.html" %}

{% block title %}
{{ category.title }} &ndash; Forums
{% endblock %}

{% block headline %}
{{ category.title }}<br />
<small>{{ category.subtitle }}</small>
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/forums/">Forums</a> <span class="divider">/</span></li>
<li class="active">{{ category.title }}</li>
{% endblock %}

{% block content %}

<p>
Forums dans la catégorie sélectionnée :
</p>

{% include "forum/forums_common.html" %}

{% endblock %}
