{% load humane_date %}

<div class="row">
    <div class="large-6 columns">
        <h5>
            <a href="{{ topic.get_absolute_url }}">
                {{ topic.title }}
            </a>
        </h5>
        <p>
            {{ topic.subtitle }}
        </p>
    </div>
</div>

{% if topic.is_sticky %}
    <i class="icon-bookmark" title="Ce sujet est épinglé"></i>
{% endif %}
{% if topic.is_locked %}
    <i class="icon-lock" title="Ce sujet est verrouillé"></i>
{% endif %}
{% if topic.is_solved %}
    <i class="icon-ok" title="Ce sujet est résolu"></i>
{% endif %}

{% if user.is_authenticated %}
    {% with topic.last_read_post as last_read_post %}
        {% ifnotequal last_read_post topic.get_last_answer %}
            <i class="icon-eye-open"></i>
        {% endifnotequal %}
    {% endwith %}
{% endif %}
