{% extends "forum/base.html" %}
{% load humane_date %}

{% block title %}
    {{ forum.title }}
{% endblock %}

{% block headline %}
    {{ forum.title }} <br />
    <small>{{ forum.subtitle }}</small>
{% endblock %}

{% block breadcrumb %}
    <a href="{{ forum.category.get_absolute_url }}">{{ forum.category.title }}</a>
    {{ forum.title }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p>
    <a href="/forums/sujet/nouveau?forum={{ forum.pk }}" class="button">
        Nouveau sujet
    </a>
</p>
{% endif %}

<div class="topic-items">
{% for topic in sticky_topics %}
    {% include "forum/details_row.html" %}
{% endfor %}
</div>

<div class="topic-items">
{% for topic in topics %}
    {% include "forum/details_row.html" %}
{% endfor %}
</div>

{% endblock %}
