{# Block displaying the list of forums belonging to a category #}
{% load humane_date %}

{% for forum in category.get_forums %}

<div class="row-fluid">
    <div class="span1 forum-icon {% if user.is_authenticated and not forum.is_read %}forum-icon-unread{% endif %}">
    </div>
    
    <div class="span6">
        <h4>
            <a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a><br />
            <small>{{ forum.subtitle }}</small>
        </h4>
    </div>

    <div class="span1 forum-stats visible-desktop">
        <p>
            <span class="label label-inverse" title="Sujets">
                {{ forum.get_topic_count }}
            </span>
            <span class="label" title="Messages">
                {{ forum.get_post_count }}
            </span>
        </p>
    </div>

    <div class="span4 forum-last-message">
        <p>
            {% if forum.get_last_message %}
            Dernier message posté
            <a href="{{ forum.get_last_message.get_absolute_url }}">
                {{ forum.get_last_message.pubdate|humane_date }}
            </a>
            par
            <a href="{{ forum.get_last_message.author.get_absolute_url }}">
                {{ forum.get_last_message.author.username }}
            </a>
            dans
            <a href="{{ forum.get_last_message.topic.get_absolute_url }}">
                {{ forum.get_last_message.topic.title }}</a>.
            {% else %}
                Aucun message
            {% endif %}
        </p>
    </div>
</div>

{% endfor %}
