{# Block displaying the list of forums belonging to a category #}
{% load humane_date %}

{% for forum in category.get_forums %}

<div class="row">
    <div class="span1 forum-icon {% if user.is_authenticated and not forum.is_read %}forum-icon-unread{% endif %}">
    </div>
    
    <div class="span6">
        <h4>
            <a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a><br />
        </h4>

        <p>{{ forum.subtitle }}</p>
    </div>

    <div class="span5">
        <p class="forum-topic-count">
            {{ forum.get_topic_count }} sujets,
            {{ forum.get_post_count }} messages
        </p>

        <p>
            {% if forum.get_last_message %}
            Dernier message posté
            <a href="{{ forum.get_last_message.get_absolute_url }}">
                {{ forum.get_last_message.pubdate|humane_date }}
            </a>
            par
            <a href="{{ forum.get_last_message.author.get_absolute_url }}">
                {{ forum.get_last_message.author.username }}
            </a>
            dans
            <a href="{{ forum.get_last_message.topic.get_absolute_url }}">
                {{ forum.get_last_message.topic.title }}</a>.
            {% else %}
                Aucun message
            {% endif %}
        </p>
    </div>
</div>

{% endfor %}
