{% extends "forum/base.html" %}

{% block title %}
    Liste des forums
{% endblock %}

{% block headline %}
    Liste des forums
{% endblock %}

{% block breadcrumb %}
    Lste des forums
{% endblock %}

{% block content %}
<p>
Voici la liste des forums mis à votre disposition pour échanger avec le reste
de la communauté, rangés par thématiques.
</p>

{% for category in categories %}
    <h2>
        {{ category.title }}
    </h2>
    {% include "forum/forums_common.html" %}
{% endfor %}
{% endblock %}
