{% extends "forum/base.html" %}
{% block title %}
    Modération
{% endblock %}

{% block headline %}
    Outils de modération
{% endblock %}

{% block headline-sub %}
    {{ topic.title }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category.title }}</a></li>
    <li><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.title }}</a></li>
    <li><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></li>
    <li class="current"><a href="javascript:;">Outils de modération</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">

        {% include "forum/topic_toolbox.part.html" %}

        <a href="{{ topic.get_absolute_url }}" class="button secondary">
            Retour au sujet
        </a>
    </div>
</div>

{% endblock %}
