<nav class="pagination">

    <a class="{% ifequal nb 1 %}disabled{% endifequal %}"
    href="{% ifnotequal nb 1 %}{{ topic.get_absolute_url }}?page={{ nb|add:"-1" }}{% else %}javascript:;{% endifnotequal %}">
        «
    </a>

{% for page in pages %}
    <a class="{% ifequal page nb %}active{% endifequal %}"
    href="{% ifnotequal page nb %}{{ topic.get_absolute_url }}?page={{ page }}{% else %}javascript:;{% endifnotequal %}">
        {{ page }}
    </a>
{% endfor %}

    <a class="{% ifequal nb pages|last %}disabled{% endifequal %}"
       href="{% ifnotequal nb pages|last %}{{ topic.get_absolute_url }}?page={{ nb|add:"1" }}{% else %}javascript:;{% endifnotequal %}">
        »
    </a>

</nav>
