{% extends "base.html" %}
{% load markup %}
{% load humane_date %}
{% load profile %}

{% block title %}
{{ topic.title }} &ndash; Forums
{% endblock %}

{% block headline %}
{{ topic.title }} <br /><small>{{ topic.subtitle }}</small>
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/forums/">Forums</a> <span class="divider">/</span></li>
<li><a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category.title }}</a> <span class="divider">/</span></li>
<li><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.title }}</a> <span class="divider">/</span></li>
<li class="active">{{ topic.title }}</li>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="pull-right">

    <form action="/forums/sujet/editer" method="POST">
    <input type="hidden" name="topic" value="{{ topic.pk }}" />

    <a href="/forums/sujet/nouveau?forum={{ topic.forum.pk }}" class="btn">
        <i class="icon-plus"></i>
        Nouveau
    </a>

    {% if user.is_staff %}

    {# Button to move the thread #}
    <a href="javascript:void(0)" class="btn move-btn" data-toggle="popover" data-original-title="Déplacer le sujet dans..." data-placement="bottom"
        data-content="
            <select class='input-block-level' name='move_target'>
                {% for category_mv in categories %}
                    <option disabled>&mdash; {{ category_mv.title }}</option>
                    {% for forum_mv in category_mv.get_forums %}
                        <option value='{{ forum_mv.pk }}'>{{ forum_mv.title }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
            <button type='submit' name='move' class='btn input-block-level'>
                Déplacer
            </button>
        "> 
        Déplacer
    </a>
    <div class="btn-group">
        {# Button to make the thread a post-it #}
        <button type="submit" name="sticky"
            class="btn {% if topic.is_sticky %}btn-info{% endif %}">
            <i class="icon-bookmark {% if topic.is_sticky %}icon-white{% endif %}"></i>
            Post-it
        </button>
        {# Button to lock the thread #}
        <button type="submit" name="lock"
            class="btn {% if topic.is_locked %}btn-warning{% endif %}">
            <i class="icon-lock {% if topic.is_locked %}icon-white{% endif %}"></i>
            Verrouill{% if topic.is_locked %}é{% else %}er{% endif %}
        </button>
    </div>

    {% endif %}
    {% if topic.author.pk == user.pk %}

        {# Button to indicate the problem in the thread was solved #}
        <button type="submit" name="solved"
            class="btn {% if topic.is_solved %}btn-success{% endif %}">
            <i class="icon-flag {% if topic.is_solved %}icon-white{% endif %}"></i>
                Résolu
        </button>

    {% else %}

        {# Button to follow the thread #}
        <button type="submit" name="follow"
            class="btn {% if 1 == 1 %}btn-primary{% endif %}">
            {% if 1 == 2 %}
                <i class="icon-star"></i>
                Suivre
            {% else %}
                <i class="icon-star icon-white"></i>
                Suivi
            {% endif %}
        </button>

    {% endif %}
    {% csrf_token %}
    </form>
</div>
{% endif %}

<div class="btn-group">
    <a href="/forums/" class="btn">
        Forums
    </a>

    <a href="{{ topic.forum.get_absolute_url }}" class="btn">
        « {{ topic.forum.title }} »
    </a>
</div>

<div class="spacer3"></div>

{% if topic.is_solved %}
<div class="alert alert-success">
    <strong>Ce sujet est résolu</strong>, l'auteur de ce sujet a trouvé une
    solution satisfaisant son problème.
</div>
{% endif %}

<table class="table table-bordered topic-table">
    <thead>
        <tr>
            <th>Auteur</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
        <tr id="p{{ post.id }}" class="post-head anchor">
            <td>
                <a href="{{ post.author.get_absolute_url }}">
                    {{ post.author.username }}
                </a>
            </td>
            <td>

                {% if user.is_authenticated %}
                    {# Buttons on the answers #}
                    <div class="pull-right btn-group">
                        
                        {% if topic.author == user and post.author != user %}
                        <a href="/forums/message/utile?message={{ post.pk }}" class="btn btn-mini {% if post.is_useful %}btn-success{% endif %}">
                            <i class="icon-ok {% if post.is_useful %}icon-white{% endif %}"></i>
                            Cette réponse m'a aidé
                        </a>
                        {% endif %}
                    
                        {% if post.author == user %}
                        <a href="/forums/message/editer?message={{ post.pk }}" class="btn btn-mini">
                            <i class="icon-pencil"></i>
                            Éditer
                        </a>
                        {% endif %}

                        <a href="{% if topic.is_locked %}#{% else %}/forums/message/nouveau?sujet={{ topic.pk }}&amp;cite={{ post.pk }}{% endif %}"
                            class="btn btn-mini {% if topic.is_locked %}disabled{% endif %}">
                            <i class="icon-comment"></i>
                            Citer
                        </a>
                    </div>
                {% endif %}

                <a href="{{ post.get_absolute_url }}">#</a>
                &ndash; {{ post.pubdate|humane_date }}
                </a>
            </td>
        </tr>
        <tr class="post-message {% if post.is_useful %}success{% endif %}">
            <td>
                {% with profile=post.author|profile %}
                <img alt="Avatar" src="{{ profile.get_gravatar_url }}" />
                {% endwith %}
            </td>
            <td>
                {% if forloop.first and nb > 1 %}<strong>Dernier message de la page précédente :</strong><br /><br />{% endif %}

                {{ post.text|markdown:"safe,codehilite,extra" }}

                {% if not post.update = None %}
                <em>&mdash; Dernière édition {{ post.update|humane_date }}</em>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <ul>

        <li class="{% ifequal nb 1 %}disabled{% endifequal %}">
            <a href="{% ifnotequal nb 1 %}{{ topic.get_absolute_url }}?page={{ nb|add:"-1" }}{% else %}#{% endifnotequal %}">«</a>
        </li>

    {% for page in pages %}
        <li class="{% ifequal page nb %}active{% endifequal %}">
            {% ifnotequal page nb %}
                <a href="{{ topic.get_absolute_url }}?page={{ page }}">{{ page }}</a>
            {% else %}
                <a href="#">{{ page }}</a>
            {% endifnotequal %}
        </li>
    {% endfor %}

        <li class="{% ifequal nb pages|last %}disabled{% endifequal %}">
            <a href="{% ifnotequal nb pages|last %}{{ topic.get_absolute_url }}?page={{ nb|add:"1" }}{% else %}#{% endifnotequal %}">»</a>
        </li>

    </ul>
</div>

{% if user.is_authenticated %}
<div class="offset2 span8">
<form action="/forums/message/nouveau?sujet={{ topic.pk }}" method="POST">
    <p>
    <textarea name="text" class="input-block-level" rows="4" {% if topic.is_locked %}disabled{% endif %}
        placeholder=" {% if topic.is_locked %}Ce sujet est verrouillé{% else %}Votre message au format Markdown{% endif %}."></textarea>
    </p>

    <div style="text-align: center;">
        <button class="btn btn-primary" type="submit" {% if topic.is_locked %}disabled{% endif %}>
                Répondre
            </button>
            <button type="submit" formaction="/forums/message/nouveau?sujet={{ topic.pk }}&amp;plus"
                class="btn" {% if topic.is_locked %}disabled{% endif %}>
                Plus d'options
            </button>
    </div>

    {% csrf_token %}
</form>
</div>
{% endif %}
    
{% endblock %}
